/* Estilização geral do site */
body {
    font-family: "Arial";
    margin: 0;
    padding: 0;
    border: 0;
    /* background-color: #c02a31; */
    background-color: whitesmoke;

}


/* estilização do header da página */
header {
    background-color: whitesmoke;

}

/* estilização do logotipo */
.logo {
    height: 60px;
    width: 60px;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}


/* estilização do menu */
nav {
    right: 0;
    position: absolute;
    top: 25px;
    left: 160px;

}

nav li {
    display: inline;
    /* para a direção das margens, em cima, direita, pra baixo e esquerda (sentido do relógio)  */
    margin: 0 0 0 50px;
}

nav a {
    text-transform: uppercase;
    color: rgb(24, 21, 18);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c02a31;
    text-decoration: underline;
}

.logo_caixa {
    width: 940px;
    position: relative;
    margin: auto;
}

/* estilização do banner/fundo */
.fundo {
    width: 100%;
    ;
    /* com o 100% ele é ajustado de acordo com o tamanho da página  */

}

/* estilização da imagem do nosso serviço */
.servico {
    height: 50%;
    width: 60%;
    float: left;
    margin: 0 20px 50px;

}

.titulo_serv {
    clear: left;
    text-align: center;
    /* 2em é uma medida padrão, pode ser encontrado em outras programações */
    font-size: 2em;
    


}

.area_serv {
    width: 90%;
    text-align: justify;
    margin: auto;
    background-color: whitesmoke;
    margin-bottom: 11%;
    margin-top: 2%;
}


/* Titulos - padrao  */
.titulo_padrao {

    /* padding é o espaçamento  */

    padding: 2%;
    text-align: center;
    font-size: 40px;
    margin: 0;
}

/* estilização da sessao do mapa */

.mapa {
    background: linear-gradient(whitesmoke, #c02a31);

}


.mapa p {
    text-align: center;
    
}

.mapa iframe {
    display: block;
    margin: auto;


}

.beneficios {
    background-color: #c02a31;
    float: right;

}

.conteudo_beneficios {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.lista_beneficios {
    width: 50%;
    display: inline-block;
    margin-left: 21%;
    list-style: "🍄";
    transition: 400ms;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: medium;
}

.itens {
    line-height: 2;

}

.img_beneficios {
    width: 32%;
    margin-right: 21%;
    margin-top: 0;
    box-shadow: 10px 10px 5px 0px black;
    padding-top: 0%;
    transition: 400ms;

}

.img_beneficios:hover {
    opacity:0.7;

}

.video_cano { 
    padding:5%;
    text-align: center;

}

.rodape { 
    background-color: black;
    
}

.img_rodape { 
    padding: 2%;
    height: 5%;
    margin-left: 70%;
    margin-bottom: 5%;
}










/* style page services */

.intr_serv {
    background-color: #c02a31;
    padding-bottom: 20%;
    padding-top: 2%;
    
    
    
}

.planos {
    color: whitesmoke;
    padding-top: 0%;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 40px;
}

.planos_assinatura {
    display: flex; /*Torna o contêiner flexível
    /* justify-content: center; Centraliza os ícones horizontalmente */
    align-items: center; /* Centraliza os ícones verticalmente */
    padding-left: 2%;
    padding-right: 5%;
    
  }
  
.plano_A {
    font-size: 24px;
    border: 3px solid #1d9619;
    padding: 10px;
    margin: 5px; /* Adiciona um espaçamento entre os ícones */
    background-color: whitesmoke;
    text-align: center;
    border-radius: 5%;
  }
  
  .img_planoA { 
    width: 75PX;
    
  }

  .plano_B {
    font-size: 24px;
    border: 3px solid #18689e;
    padding: 10px;
    margin: 5px; /* Adiciona um espaçamento entre os ícones */
    background-color: whitesmoke;
    text-align: center;
    border-radius: 5%;
}
  
  .img_planoB { 
    width: 75px;
  }

  .plano_C {
    font-size: 24px;
    border: 3px solid #c4a703;
    padding: 10px;
    margin: 5px; /* Adiciona um espaçamento entre os ícones */
    background-color: whitesmoke;
    text-align: center;
    border-radius: 5%;
  }
  
  .img_planoC { 
    width: 75PX;
  }

  .plano_p { 
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    color: #c02a31;
    
  }

  .planos_beneficios { 
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2%;
    margin-right: 3%;
    font-size: 20px;
  }